.about {
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 100%;

}

.glowing-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    box-shadow: black 5px;
    color: #d53a3a;
    font-family: "Franklin Gothic Heavy";
    opacity: 0;
    animation: fadeIn 2s ease-out forwards; /* Adjust animation duration as needed */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.animated-paragraph {
    font-size: 18px;
    color: honeydew;
    opacity: 0;
    transition: opacity 1s;
    max-width: 100%;
}

.nav-image {
    margin-top: -100px;
    margin-left: 40%;
    max-width: 100px;
    height: auto;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

.navbardiv {
    max-width: 100%;
}