body {
    background-image: url(../images/background.png);
    background-size: cover; /* Scales the image to cover the entire viewport */
    background-position: center center; /* Centers the image horizontally and vertically */
    background-attachment: fixed; /* Optional: Fixes the background image */
}

.image-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 2000px) {


    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 25%;
        height: auto;
        padding: 5px;
        padding-inline: initial;
        background: #d53a3a;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-left: 38%;
        opacity: 0;
        animation: fadeIn 2s ease-out forwards; /* Adjust animation duration as needed */
    }

    .navbar a {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;
        font-size: 22px;
        font-family: 'Franklin Gothic Heavy';
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        opacity: 0.95;
        position: relative;
        transition: transform 0.3s;
        margin: 15px;


    }


    .navbar a::after {
        content: ""; /* Create an empty pseudo-element */
        position: absolute; /* Position it absolutely within the link container */
        left: 0; /* Start from the left edge of the link */
        right: 0; /* Extend to the right edge of the link */
        bottom: 0; /* Place the pseudo-element at the bottom (under the link text) */
        height: 2px; /* Set the height of the underline */
        background-color: #faf7f7; /* Set the underline color */
        transform: scaleX(0); /* Initially, set the width to 0 for the underline effect */
        transform-origin: center; /* Set the transformation origin to the center */
        transition: transform 0.3s; /* Add a smooth transition for the underline effect */
    }

    /* Style the navbar links when hovered over */
    .navbar a:hover::after {
        transform: scaleX(1); /* Expand the underline width to 100% on hover */

    }

    .navbar a:hover {
        animation: pulse 1s infinite; /* Apply the pulsating animation */
    }
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Start with the regular size (1x) */
    }
    50% {
        transform: scale(1.1); /* Scale up to 1.1x size halfway through the animation */
    }
    100% {
        transform: scale(1); /* Return to the regular size at the end of the animation */
    }
}

.glowing-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    box-shadow: black 5px;
    color: #d53a3a;
    font-family: "Franklin Gothic Heavy";
    opacity: 0;
    animation: fadeIn 2s ease-out forwards; /* Adjust animation duration as needed */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.nav-image {
    margin-top: -100px;
    margin-left: 40%;
    max-width: 100px;
    height: auto;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

.map-location {
    margin-left: 29%;
    width: 700px;
    height: 500px;
}

.address {
    display: block;
    align-items: center;
    justify-content: center;
    color: white;
}

.address-paragraph {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
