{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
<head>
    <meta charset="UTF-8">

    <div class="image-logo">
        <img src="{% static 'images/logo.png' %}" class="logo">
    </div>


    <nav class="navbar">
        <a href="{% url 'home' %}" class="button1">< ВЪРНИ СЕ <</a>

    </nav>
    <img src="{% static 'images/girl_about_us.png' %}" class="nav-image">
    <div class="about">
        <ul class="text-about">

            <h3 class="glowing-text" id="glowing-heading">МИСИЯ НА ДЕТСКОТО ЗАВЕДЕНИЕ</h3>

            {% for paragraph in paragraphs_mission_garden %}
                <p class="animated-paragraph">{{ paragraph.text }}</p>
            {% endfor %}
            <h3 class="glowing-text" id="glowing-heading">ВИЗИЯ НА ДЕТСКОТО ЗАВЕДЕНИЕ</h3>

            <p class="animated-paragraph">{{ text_vision_garden.text }}</p>

            <h3 class="glowing-text">ЦЕННОСТ</h3>
            <p class="animated-paragraph">{{ text_value_garden.text }}</p>

        </ul>
    </div>


</head>
<body>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>